* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f6f3;
    color: #333;
}

/* Navbar */
.navbar {
    background-color: #7d2f2f;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

.navbar a:hover {
    text-decoration: underline;
    color: rgb(0, 0, 0);
}

/* Container */
.container {
    max-width: 1100px;
    margin: 30px auto;
    padding: 20px;
}

/* Pokémon principal */
.pokemon-main {
    display: flex;
    gap: 30px;
    margin-bottom: 40px;

    background-color: white;
    padding: 15px 5px 10px 15px;

    border-radius: 15px;
}

.pokemon-image img {
    width: 280px;
}

.pokemon-info h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.type {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    margin-bottom: 15px;
}

.grass {
    background-color: #7d2f2f;
}

.water {
    background-color: rgb(78, 78, 255);
}

.pokedex {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
}

.stats {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 40px;
}

.stat {
    margin-bottom: 12px;
}

.stat span {
    display: block;
    font-weight: bold;
    margin-bottom: 4px;
}

.bar {
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
    height: 16px;
}

.bar div {
    height: 100%;
    background-color: rgb(245, 97, 39);
}


.weaknesses {
    margin-bottom: 40px;
}

.weakness-list {
    display: flex;
    gap: 10px;
}

.weakness {
    padding: 8px 14px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}

.weakness.water { background-color: #4a90e2; }
.weakness.rock { background-color: #a38c21; }
.weakness.fogo { background-color: #f50606; }
.weakness.gelo { background-color: #11d4f7; }
.weakness.fly { background-color: #cee7dd; }
.weakness.psy { background-color: #e920ad; }
.weakness.ground { background-color: #8b5a2b; }
.weakness.ele { background-color: #fffb05de; }
.weakness.grama { background-color: #2e8f07; }

/* Evoluções */
.evolutions h2,
.sprites h2 {
    margin-bottom: 20px;
}

.evolution-line {
    display: flex;
    align-items: center;
    gap: 15px;
}

.evo-card {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

.evo-card img {
    width: 100px;
    height: 100px;
}

.arrow {
    font-size: 24px;
    font-weight: bold;
}

/* Sprites */
.sprite-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.sprite-card {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

.sprite-card img {
    width: 80px;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background-color: #ddd;
    margin-top: 40px;
}



.pokemon-main {
    display: flex;
    gap: 30px;
    align-items: center;
}


.pokemon-image img {
    max-width: 100%;
    height: auto;
}

/* Tablet e celular */
@media (max-width: 768px) {

    .navbar {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .pokemon-main {
        flex-direction: column;
        text-align: center;
    }

    .weakness-list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .evolution-line {
        flex-direction: column;
    }

    .arrow {
        transform: rotate(90deg);
    }

    .sprite-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Celular pequeno */
@media (max-width: 480px) {

    .sprite-grid {
        grid-template-columns: 1fr;
    }

    .pokemon-image img {
        width: 220px;
    }
}
/* animação base */
.page {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

/* entra da esquerda */
.slide-in {
  animation-name: slideIn;
}

/* sai para a direita */
.slide-out {
  animation-name: slideOut;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}
